@model Cembjr.ControleFrota.UI.ViewModels.ServicoViewModel

@{
    ViewData["Title"] = "Detalhes";
}

    <h1>@ViewData["Title"]</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Saida)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Saida)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Chegada)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Chegada)
        </dd>
        <dt class = "col-sm-2">
            Atendente
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Atendente.Nome)
        </dd>
        <dt class = "col-sm-2">
            Motorista
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Motorista.Nome)
        </dd>
        <dt class = "col-sm-2">
            Veiculo
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Veiculo.Placa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Destino)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Destino)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Observacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Observacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KmInicial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KmInicial)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KmFinal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KmFinal)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.Id">Editar</a>
    <a class="btn btn-secondary" asp-action="Index">Voltar</a>
</div>
